{% extends 'ServicePlanner/base.html' %}
{% block title %}Головна сторінка{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Service History</title>
</head>
<body>
    <h1>Додати виконану послугу</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Зберегти</button>
    </form>
{% endblock %}
</body>
</html>
